<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Recipe Book</a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" [ngClass]="{ active: activeFeature === 'recipe' }" (click)="onSelectFeature('recipe')">
                <a class="nav-link" href="#">Recipes</a>
            </li>
            <li
                class="nav-item"
                [ngClass]="{ active: activeFeature === 'shopping-list' }"
                (click)="onSelectFeature('shopping-list')"
            >
                <a class="nav-link" href="#">Shopping List</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" role="button">Manage</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Save Data</a></li>
                    <li><a href="#">Fetch Data</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
