<a href="#" class="list-group-item clearfix" (click)="onSelectItemRecipe()">
    <div class="float-left">
        <h4 class="list-group-item-success">{{ recipe.name }}</h4>
        <p class="list-group-item-info">{{ recipe.description }}</p>
    </div>
    <span class="float-right">
        <!--                  src="{{ recipe.imagePath }}" -->
        <!-- string interpolation -->
        <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-fluid" style="max-height: 50px;" />
    </span>
</a>
