<div class="row">
    <div class="col-12">
        <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-fluid" style="max-height: 300px;" />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe</button>
            <ul class="dropdown-menu">
                <li><a href="#">To Shopping List</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {{ recipe.description }}
    </div>
</div>
<div class="row">
    <div class="col-12">
        Ingredients
    </div>
</div>
