<div class="row">
    <div class="col-md-5">
        <app-recipes-list (wasRecipeSelected)="recipeSelected = $event"></app-recipes-list>
    </div>
    <div class="col-md-7">
        <app-recipes-detail
            [recipe]="recipeSelected"
            *ngIf="recipeSelected; else unSelectedRecipe"
        ></app-recipes-detail>
        <ng-template #unSelectedRecipe>
            <p>Please select the Recipe!</p>
        </ng-template>
    </div>
</div>
