<app-header (featureSelected)="onNavigate($event)" [activeFeature]="feature"></app-header>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-recipes *ngIf="feature === 'recipe'"></app-recipes>
            <app-shopping-list *ngIf="feature === 'shopping-list'"></app-shopping-list>
        </div>
    </div>
</div>
